body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* background: #f2f6e9; */
}

.img-responsive {
  width: 200px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #fff;
}

.nav-item {
  font-size: 20px;
}

.nav-item:hover {
  background-color: #ff9900;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #ff9900;
  color: #fff;
}

.navbar {
  color: #fff;
  background: #1b1b1b;
  /* border-bottom: 1px solid #6b6b6b; */
}

.navbar-toggler-icon {
  color: #ff9900;
}

.bi .bi-caret-down-fill {
  color: #fff;
}

.dropdown {
  display: none;
  padding-left: 0px;
  /* padding-right: 20px; */
  position: absolute;
  list-style: none;
  z-index: 1;
  transition: 0.3s;
  background: #212529;
}

nav ul li:hover > ul {
  display: block;
}

.dropdown .element {
  padding-left: 8px;
}

.dropdown .element:hover {
  background-color: #ff9900;
}

.avatar .bi {
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .dropdown {
    display: none;
    margin-left: 0px;
    padding-left: 0px;
    position: absolute;
    list-style: none;
    z-index: 1;
    transition: 0.3s;
  }

  nav ul li:hover > ul {
    display: block;
    background-color: #ff9900;
  }

  .dropdown .element {
    padding: 0;
  }

  .content .col {
    margin-top: 30px;
  }

  .navbar .input-group {
    display: none;
  }

  .path {
    margin-top: 2vh;
  }
}

@media only screen and (min-width: 600px) {
  .search-small-screen {
    display: none;
  }

  .content {
    margin-top: 3vh;
  }

  .path {
    margin-top: 11vh;
  }
}

/* INFO TAB */

/* .info {
  height: 120px;
} */

/* SEARCH MENU */
.search {
  position: relative;
  margin-top: 70px;
  padding-top: 8px;
  padding-bottom: 5px;
  height: auto;
  background: #928484;
}

.search-small-screen {
  margin-top: 9vh;
  background: #1b1b1b;
}

/* CONTENT */

.path {
  text-align: center;
  background: #d5d5d5;
}

.path .h2 {
  /* KAZKODEL NEKEICIA FONTO */
  font-weight: bold;
}

.card {
  border: none;
}

.card img {
  width: 210px;
  height: 320px;
  margin-bottom: 1vh;
}

.card:hover {
  background: #e6e6e6;
}

.content .container {
  text-align: center;
}
